@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2.4rem;
}
.navbar__burger {
  width: 1.6rem;
  height: 1.5rem;
  margin-right: 1.6rem;
  cursor: pointer;
}
.navbar__burger span {
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #68707d;
}
.navbar__burger span:not(:last-child) {
  margin-bottom: 0.3rem;
}
.navbar__nav {
  display: none;
}
.navbar__mobile-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 67%;
  height: 100%;
  z-index: 2;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}
.navbar__mobile-nav--show-nav {
  display: flex;
}
.navbar__item {
  margin-bottom: 2rem;
}
.navbar__item:first-child {
  margin-bottom: 5.4rem;
}
.navbar__close {
  cursor: pointer;
}
.navbar__link {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.44;
  color: black;
}
.navbar__customer {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar__cart, .navbar__account {
  cursor: pointer;
}
.navbar__account {
  max-width: 2.4rem;
  margin-left: 2.2rem;
}

.product__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: 1fr;
  max-height: 30rem;
  height: 30rem;
}
.product__slider-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  padding: 0 1.6rem;
}
.product__previous, .product__next {
  background-color: white;
  border-radius: 50%;
  max-width: 4rem;
  max-height: 4rem;
  padding: 1.4rem;
  cursor: pointer;
  z-index: 300;
}
.product__img {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s, opacity 0.5s, z-index 0.5s;
  z-index: 100;
}
.product__img--current {
  opacity: 1;
  z-index: 200;
}
.product__img--before {
  transform: translateX(-100%);
  z-index: 150;
}
.product__img--after {
  transform: translateX(100%);
  z-index: 150;
}
.product__content {
  padding: 2.4rem;
}
.product__company {
  color: #ff7d1a;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.185rem;
  margin-bottom: 1.9rem;
}
.product__name {
  font-size: 2.8rem;
  color: #1d2025;
  line-height: 1.14;
  margin-bottom: 1.5rem;
}
.product__description {
  font-size: 1.5rem;
  color: #68707d;
  line-height: 1.67;
  margin-bottom: 2.4rem;
}
.product__pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}
.product__discount-price {
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  color: #1d2025;
  font-weight: bold;
}
.product__discount {
  font-size: 1.6rem;
  color: #ff7d1a;
  background-color: #ffede0;
  padding: 0.3rem 0.9rem;
  border-radius: 0.6rem;
  margin-left: 1.6rem;
}
.product__original-price {
  font-weight: bold;
  color: #b6bcc8;
  text-decoration: line-through;
}
.product__quantity {
  margin-bottom: 8.8rem;
}
.product__counter {
  display: flex;
  align-items: stretch;
  background-color: #f7f8fd;
  padding: 22px 24px 18px;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}
.product__amount {
  flex-grow: 2;
  height: 100%;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
}
.product__amount:focus {
  outline: none;
}
.product__minus, .product__add {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 1.8rem 0;
  border-radius: 1rem;
  box-shadow: 0 20px 50px -20px #ff7d1a;
  cursor: pointer;
}
.product__cart {
  fill: white;
  margin-right: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
