// Buttons

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    padding: 17px 0;
    width: 100%;
    cursor: pointer;
    transition: all .4s;

    &__desc {
        margin-left: 8px;
    }
}

.btn.btn--white {
    background-color: $white;
    color: $black;

    &:hover {
        background-color: $orange;
    }
}


.btn.btn--dark {
    background-color: $black;
    color: white;

    &:hover {
        background-color: $blue;
    }
}

.btn.btn--dark:hover {
    background-color: $blue;
    color: $white;
}

// icons

.icons {
    display: flex;

    &__icon:not(:last-child) {
        margin-right: 20px;
    }

    &__icon {
        fill: #191826;
        overflow: visible;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            fill: $orange;
        }
    }
}